@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.text-red{
    color: #e3000e !important;
}

.text-y{
    color: #f7be27 !important;
}

.text-brown{
    color: #642f21 !important;
}

.bg-y{
    background: #f7be27 !important;
}

p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.btn-border{
    border: 1px solid rgba(0, 0, 0, 3); 
    color: rgba(0, 0, 0, 0.8);
    padding: 6px 25px !important;
}

.btn-y{
    background: #f7be27 !important;
    color: #000;
    font-weight: 600;
    border-radius: 4px !important;
}

.btn-y:hover{
    background: #e9b320 !important;
}

.btn-white{
    background: #fff !important;
    color:  rgba(0, 0, 0, 0.7) !important;
    padding: 6px 25px !important;
    font-weight: 600;
    box-shadow: 0 0 10px 5px;
}

.btn-lg{
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 10px 25px !important;
}

.no-radius{
    border-radius: 0px !important;
}

.btn-brown{
    background: #642f21 !important;
    color: #fff;
    border: 1px solid #642f21 !important;
}

.btn-brown:hover{
    background: transparent !important;
    color: #642f21 !important;;
}

.bg-brown{
    background: #642f21;
}

.container{
    max-width: 1480px !important;
    width: 1480px !important;
}


.banner-slider{
    height: 100vh;
}

.banner-slider .item{
    height: 100vh; 
    background-size: cover !important; 
    overflow: hidden;
}

.banner-slider .item .info.mr-auto{
    position: relative; 
    left: -100%; 
    opacity: 0;
}

.banner-slider .item .info.ml-auto{
    position: relative; 
    right: -100%; 
    opacity: 0;
}

.banner-slider .item h2{
    font-family: 'Lilita One', sans-serif; 
    font-size: 100px; 
    font-weight: 800;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.banner-slider .item h3{
    font-family: 'Lilita One', sans-serif; 
    font-size: 30px; 
    font-weight: 800;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.swiper-button-next, .swiper-button-prev{
    opacity: 0;
    transition: all 0.3s;
}

.banner-slider:hover .swiper-button-next, .banner-slider:hover .swiper-button-prev{
    opacity: 1;
}

.banner-slider .swiper-slide-active .info.mr-auto{
    left: 0px; 
    opacity: 1;
}

.banner-slider .swiper-slide-active .info.ml-auto{
    right: 0px; 
    opacity: 1;
}

.swiper-button-next{
    right: 3% !important; 
    position: absolute; 
    top: 45%; 
    z-index: 100; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 45px !important; 
    height: 45px !important;
    background: #fff; 
    border-radius: 100%; 
    font-family: FontAwesome !important;
    font-weight: bold; 
    box-shadow: 0 1px 3px rgb(0, 0, 0 / 12%) 0 1px 2px rgb(0, 0, 0 / 24%) !important;
}

.swiper-button-prev{
    left: 3% !important; 
    position: absolute; 
    top: 45%; 
    z-index: 100; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 45px !important; 
    height: 45px !important;
    background: #fff; 
    border-radius: 100%; 
    font-family: FontAwesome !important;
    font-weight: bold; 
    box-shadow: 0 1px 3px rgb(0, 0, 0 / 12%) 0 1px 2px rgb(0, 0, 0 / 24%) !important;
}

.swiper-button-prev:after, .swiper-button-next:after{ 
    font-size: 17px !important; 
    opacity: 0.8; color: #000 !important;
}    

.swiper-button-prev:hover, .swiper-button-next:hover {
    background: #e7e7e7 !important;
}

.banner-slider .swiper-pagination-bullet-active{
    background-color: #fff;
}

header.scroll{
    background: #000;
    padding: 12px 0px !important;
    box-shadow: 0px 1px 5px;
}

header .logo{
    width: 100px;
}

header .logo img{
    width: 100% !important;
    height: auto !important;
}

header .nav ul li a{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}

header .nav ul li a:hover{
    text-decoration: none;
    color: #f7be27;
}

header .number{
    font-size: 25px;
    font-weight: 900;
}

header .number svg{
    font-size: 30px;
}

header .cartTab svg{
    font-size: 35px;
    color: #fff;
}

header .cartTab span{
    position: absolute;
    top: 0px;
    right: -10px;
    z-index: 100;
    width: 20px;
    height: 20px;
    background: #e3000e;
    color: #fff;
}

header .btn-border{
    color: #fff !important;
    border: 1px solid #fff !important; 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.filterProducts .list-inline li{
    margin: 0px 45px !important;
}

.filterProducts .list-inline li img{
    opacity: 0.5;
}

.filterProducts .list-inline li h3{
    color: #1b1b1b;
}

.filterProducts .list-inline li.active img{
    opacity: 1;
}

.filterProducts .list-inline li.active h3{
    color: #e3000e !important;
}

.productsList .product_item_V1{
    width: 22% !important;
}

.product_item_V1 .imgWrapper{
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.product_item_V1 .imgWrapper img{
    width: 100% !important;
    height: auto !important;
    transition: all 0.3s;
}

.product_item_V1 .imgWrapper img:hover{
    transform: scale(0.9);
}

.wishlist{
    color: #e3000e !important;
}

.product_item_V1 .info h4{
    font-size: 20px;
    color: #642f21 !important;
}

.product_item_V1 .info button{
    padding: 7px 20px !important;
    color: #642f21 !important;
    font-weight: 600 !important;
    align-items: center !important;
    border: 1px solid #642f21 !important;
}

.product_item_V1 .info button svg{
    font-size: 20px !important;
    margin-right: 5px !important;
}

.product_item_V1 .info button:hover{
    background: #642f21 !important;
    color: #fff !important;
}

.section2{
    padding: 30px 0px;
    background: url(../../public/eee.jpg) no-repeat bottom center;
    background-size: contain !important;
    height: 800px;
}

.section2 h2{
    font-size: 50px; 
    font-weight: 600;
}

.hd{
    font-size: 45px;
    font-weight: 800;
}

.section3 .box h3{
    font-size: 25px !important;
    font-weight: bold;
}

.productItemV2{
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.productItemV2 .imgWrapper{
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.productItemV2 .imgWrapper img{
    width: 100% !important;
    height: auto !important;
    transition: all 0.3s;
}

.productItemV2:hover .imgWrapper img{
    transform: scale(1.1);
}
.productItemV2 .info{
    overflow: hidden;
}

.productItemV2 .info h3{
    font-size: 22px !important;
    font-weight: 600;
}

.productItemV2 .info p{
    font-size: 14px !important;
    font-weight: 400;
}

.productItemV2 .info .btn-y{
    font-size: 12px !important;
    font-weight: bold !important;
    position: absolute !important;
    bottom: -100%;
    right: 20px;
    opacity: 0;
    transition: all 0.3s;
}

.productItemV2 .info .btn-y svg{
    font-size: 18px !important;
}

.productItemV2:hover .btn-y{
    opacity: 1;
    bottom: 20px;
}



